@namespace Frontend.Components
@using Frontend.DTOs

<div class="card mb-3">
    <div class="card-body">
        <h5>@Question.QuestionText</h5>
        <ul>
            <li>A. @Question.OptionA</li>
            <li>B. @Question.OptionB</li>
            <li>C. @Question.OptionC</li>
            <li>D. @Question.OptionD</li>
        </ul>
        <p><strong>Jawaban Benar:</strong> @Question.CorrectAnswer</p>
    </div>
</div>

@code {
    [Parameter]
    public MCQDto Question { get; set; } = new();
}